.body {
  background-color: white;
  display: flex;
  height: auto;
  margin: auto;
  margin-top: 2rem;
}

.body .profile {
  flex-grow: 0.6;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.body .profile .profile-pic-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 20rem;
}

.body .profile .profile-pic {
  margin: auto;
  margin-bottom: 0;
  height: 50%;
  width: auto;
  border-radius: 50%;
}

.body .profile h2{
  color: black;
  margin-bottom: -1rem;
}

.body .profile .social-links {
  width: 60%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

.body .profile .social-links > *:hover {
  transform:scale(1.2);
}

.body .calendar-container {
  text-align: center;
  height: auto;
  margin: auto;
  width: 85%;
  margin-bottom: 1rem;
}

.body .calendar-title{
  margin-bottom: 0;
  color: black;
}

.body .calendar-container .calendar {
  margin: auto;
  border: 1px solid lightgrey;
  background-color: white;
  padding-top: 30px;
  height: 90px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.body .calendar-container .square {
  width: 10px;
  height: 10px;
  margin: 1px;
  opacity: 0.8;
  border-radius: 2px;
}

.square-grey {
  background-color: #ebedf0;
}

.square-light-green {
  background-color: #9be9a8;
}

.square-dark-green {
  background-color: #30a14e;
}
.calendar-months {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: -1.5rem;
  overflow-x: hidden;
  width: 100%;
  padding: 0;
}

.calendar-months .month {
  font-weight: bold;
  font-size: 1em;
  list-style-type: none;
  margin: 2px;
  margin-left: 0;
}

.calendar-legend {
  display: flex;
  justify-content: center;
  margin-top: -1rem;
}

.calendar-legend .legend-squares {
  list-style-type: none;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2rem;
}

.profile .fact-container {
  width: 100%;
  /* background: #30a14e; */
}

.profile .fact-container .fact-list {
  margin: auto;
  margin-top: 2rem;
  width: 80%;
  padding-left: 0;
  border: 2px solid rgb(157, 157, 157);
  border-radius: 20px;
}

.profile .fact-container .fact-list > * {
  list-style: none;
  margin: 10px;
  color: black;
  font-size: 1.2rem;
}

.body .body-right {
  flex-grow: 0.7;
  animation: animate-in 1s backwards;
  -webkit-animation: animate-in 1s backwards;
}

.body .body-right .projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border-left: 2px solid lightgray; */
}

.body .body-right .projects .projects-label {
  margin-bottom: 2rem;
  color: black;
}

.body .body-right .projects .project {
  margin: 20px;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.body .body-right .projects .project img {
  margin: auto;
  object-fit: cover;
  object-position: -2px;
  border: 1px solid lightgrey;
  max-width: 600px !important;
}

.body .body-right .projects .project .project-link {
  margin: auto;
  margin-top: 1rem;
  width: auto;
  padding: 8px;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  background: #3bd355;
  opacity: 0.9;
  border-radius: 10px;
}

.body .body-right .projects .project .project-link:hover {
  opacity: 1;
  transform:scale(1.1);
}

.footer {
  bottom: 0;
  width: 100vw;
  left: 0;
  height: 4rem;
  line-height: 4rem;
  background-color: rgb(55, 55, 247);
  color: #ffffff;
  text-align: center;
}

.footer > * {
  width: 80%;
  margin: auto;
  word-break: normal;
  word-wrap: break-word;
}
span.line {
  display: inline-block;
}

@media only screen and (max-width: 800px) {
  .body {
    flex-direction: column;
  }
  .body .profile {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    animation: animate-in 1s backwards;
    -webkit-animation: animate-in 1s backwards;
  }
  .body .profile .profile-pic-container {
    margin-bottom: 0;
  }
  .body .profile .profile-pic {
    margin: auto;
    margin-bottom: 0;
    height: 30vh;
    width: 30vh;
  }
  .profile .calendar-container {
    width: 80%;
    margin-bottom: 0rem;
    margin-top: 8rem;
  }
  .profile .fact-container {
    padding-bottom: 4rem;
    width: 100vw;
    border-bottom: 2px solid rgb(157, 157, 157);
  }
  .profile .fact-container .fact-list {
    width: 70%;
  }
  .body .body-right {
    animation: none;
    -webkit-animation: none;
  }
  .body .body-right .projects {
    margin: auto;
    margin-bottom: 2rem;
    width: 100%;
    border: none;
  }
  .body .body-right .projects .project {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .body .body-right .projects .projects-label {
    margin-top: 3rem;
  }
  .body .body-right .projects .project .project-link {
    font-size: 1em;
  }
  .footer {
    display: flex;
    height: auto;
  }
  .footer > * {
    line-height: 2rem;
  }
}

@keyframes animate-in {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@-webkit-keyframes animate-in {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }}