html, body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 100vh;
}

body {
  margin: 0;
  color: grey;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  background-color: #24292f;
  color: rgba(255,255,255,0.9);
  padding: 1px;
}

.header > * {
  font-size: 1rem;
  display: flex;
}

.header .name .icon {
  margin: auto;
  margin-left: 1rem;
}

.header .searchbox {
  display: flex;
  flex-grow: 0.5;
  margin: 10px;
  border: 1px solid rgba(255,255,255,0.7);
  background-color: #24292f;
  color: rgba(255,255,255,0.7);
  border-radius: 5px;
}

.header .searchbox::placeholder {
  color: rgba(255,255,255,0.7);
}

.header .links {
  display: flex;
  flex-grow: 0.2;
  justify-content: space-between;
  font-weight: bold;
  list-style-type: none;
}

.header .icon-container {
  display: flex;
  flex-grow: 1;
  justify-content: right;
  margin: 20px;
}

.header .icon-container .icon {
  margin-right: 20px;
}

.body {
  background-color: white;
  display: flex;
  height: auto;
  margin: auto;
}

.body .profile {
  flex-grow: 0.3;
  text-align: center;
}

.body .profile .profile-pic {
  margin: 2rem;
  margin-bottom: 0;
  height: 20rem;
  border-radius: 50%;
}

.body .profile h2{
  color: black;
  margin-bottom: -1rem;
}

.body .profile .social-links {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.body .profile .social-links > *:hover {
  transform:scale(1.2);
}

.body .calendar-container {
  text-align: center;
  height: auto;
  margin: auto;
  width: 85%;
  margin-bottom: 2rem;
}

.body .calendar-title{
  margin-top: 2.5rem;
  margin-bottom: 0;
  color: darkslategray;
}

.body .calendar-container .calendar {
  margin: auto;
  border: 1px solid lightgrey;
  background-color: white;
  padding-top: 30px;
  height: 90px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.body .calendar-container .square {
  width: 10px;
  height: 10px;
  margin: 1px;
  opacity: 0.8;
  border-radius: 2px;
}

.square-grey {
  background-color: #ebedf0;
}

.square-light-green {
  background-color: #9be9a8;
}

.square-dark-green {
  background-color: #30a14e;
}
.calendar-months {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: -1.5rem;
  overflow-x: hidden;
  width: 100%;
  padding: 0;
}

.calendar-months .month {
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
  list-style-type: none;
  margin: 2px;
  margin-left: 0;
}

.calendar-legend {
  display: flex;
  justify-content: center;
  margin-top: -1rem;
}

.calendar-legend .legend-squares {
  list-style-type: none;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2rem;
}

.profile .fact-container {
  width: 60%;
  margin: auto;
  background: linear-gradient(rgb(148, 207, 239), rgb(128, 247, 185));
  border-radius: 10px;
  padding: 0.2rem;
  margin-bottom: 2rem;
}
.profile .fact-container .fact-list {
  margin-top: 2rem;
  width: auto;
  padding-left: 0;
  width: 100%;
}

.profile .fact-container .fact-list > * {
  list-style: none;
  margin: 10px;
  color: black;
  font-size: 1.2rem;
}

.profile .kingfisher {
  display: flex;
  flex-direction: column;
}

.profile .kingfisher-pic {
  margin: auto;
  height: 200px;
  transform:scaleX(-1);
  margin-bottom: 0.5rem;
}

.profile .kingfisher > * {
  font-size: 0.8em;
}

.body .body-right {
  flex-grow: 0.7;
  animation: animate-in 1s backwards;
  -webkit-animation: animate-in 1s backwards;
}

.body .body-right .projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-left: 2px solid lightgray;
}

.body .body-right .projects .projects-label {
  margin-bottom: 0;
}

.body .body-right .projects .project {
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.body .body-right .projects .project .project-link {
  margin: auto;
  margin-top: 1rem;
  width: auto;
  padding: 8px;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  background: #3bd355;
  opacity: 0.9;
  border-radius: 10px;
}

.body .body-right .projects .project .project-link:hover {
  opacity: 1;
  transform:scale(1.1);
}

iframe {
  margin: auto;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: white;
}

.footer {
  bottom: 0;
  width: 100vw;
  left: 0;
  height: 4rem;
  line-height: 4rem;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #24292f;
  color: #ffffff;
  text-align: center;
}

.footer > * {
  width: 80%;
  margin: auto;
  word-break: normal;
  word-wrap: break-word;
}
span.line {
  display: inline-block;
}

@media only screen and (max-width: 800px) {
  .body {
    flex-direction: column;
  }
  .header .links {
    display: none;
  }
  .header .icon-container {
    justify-content: right;
    margin-left: 0;
  }
  .header .icon-container .icon {
    margin-right: 0;
  }

  .body .profile {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    animation: animate-in 1s backwards;
    -webkit-animation: animate-in 1s backwards;
  }
  .body .profile .profile-pic {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 0;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
  }
  .profile .calendar-container {
    width: 100%;
    margin: 0;
    margin-top: -2rem;
  }
  .profile .fact-container {
    margin-top: 2rem;
    width: 85%;
  }
  .profile .kingfisher {
    display: none;
  }
  .body .body-right {
    animation: none;
    -webkit-animation: none;
  }

  .body .body-right .projects {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    border: none;
    border-top: 2px solid lightgray;
  }
  .body .body-right .projects .project {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .body .body-right .projects .projects-label {
    margin-top: 3rem;
  }
  .body .body-right .projects .project .project-link {
    font-size: 1em;
  }
  .footer {
    display: flex;
    height: auto;
  }
  .footer > * {
    line-height: 2rem;
  }
}

@keyframes animate-in {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@-webkit-keyframes animate-in {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }}